name: Run File Host Bot

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install packages
      run: |
        pip install aiogram
        pip install aiohttp
        pip install psutil
        pip install python-dotenv
    
    - name: Run bot
      env:
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        OWNER_ID: ${{ secrets.OWNER_ID }}
        ADMIN_ID: ${{ secrets.ADMIN_ID }}
        YOUR_USERNAME: ${{ secrets.YOUR_USERNAME }}
        UPDATE_CHANNEL: ${{ secrets.UPDATE_CHANNEL }}
      run: |
        python main.py
